body {
    margin: 0vh;
    padding: 4vh;
}

div.first {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

div.first+div {
    border-left: 10px solid rgb(255, 0, 0);
}

div.first-most-inner {

    border-radius: 50%;
}

body > div.first,
div.first-most-inner {
    border-bottom: 10px solid rgb(104, 204, 104);
}

div {
    box-sizing: border-box;
}

div.first-most-inner:hover {
    background-color: black;
}

body > div {
   
    background-color: rgb(26, 160, 170);
    height: 100vh;
    width: 100vh;
}

body > div > div {
   
    background-color: rgb(217, 224, 73);
    height: 90vh;
    width:90vh;

}

body > div > div > div {
    
    background-color: rgb(31, 185, 31);
    height: 80vh;
    width:80vh;

}
body > div > div > div > div {
   
    background-color: rgb(35, 84, 219);
    height: 70vh;
    width:70vh;

}
body > div > div > div > div > div {
    
    background-color: rgba(0, 230, 122, 0.911);
    height: 60vh;
    width:60vh;

}
body > div > div > div > div > div > div {
    
    background-color: rgb(27, 68, 16);
    height: 50vh;
    width:50vh;

}
body > div > div > div > div > div > div > div {
    
    background-color: rgb(26, 160, 170);
    height: 40vh;
    width:40vh;

}
body > div > div > div > div > div > div > div > div {
    
    background-color: rgb(15, 8, 51);
    height: 30vh;
    width:30vh;

}
body > div > div > div > div > div > div > div > div >  div {
    
    background-color: rgb(207, 134, 241);
    height: 20vh;
    width:20vh;

}
body > div > div > div > div > div > div > div > div > div > div {
  
    background-color: rgb(151, 39, 39);
    height: 10vh;
    width:10vh;

}

