body,
body *{

    margin: 0vh;
    padding: 0vh;

    box-sizing: border-box;
}

header {

    position:fixed;
    
    top: 0%;
    left: 0%;
    
    width:100%;
    height: 60px;
    
    background-color: aquamarine;
    
    z-index: 100;
}

#logo,
header nav {

    display: inline-block;
    
    width: 49%;
    height: 100%;
}

header nav a {
    
    display: block;
    
    width: 100px;
    height: 100%;

}

header nav button {

    position: absolute;
    
    width: 60px;
    height: 60px;
    
    right: 0;
    top: 0;

    background-color: rgba(230, 119, 75, 0.881);
}

div.first {

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

div.first+div {

    border-left: 10px solid rgb(255, 0, 0);
}

div.first-most-inner {

    border-radius: 50%;
}

body > div.first , 
div.first-most-inner {
    
    border-bottom: 10px solid rgb(104, 204, 104);
}

div.first-most-inner::before {
    
    content: "A";
    position: fixed ;
    display: block ;
    right: 0vh;
    bottom: 0vh;
    width: 100px;
    height: 100px;
    background-color: bisque;
}

div.first-most-inner::after {
    
    content: "B"
}

div {
    
    box-sizing: border-box;
}

div.first-most-inner:hover {
    
    background-color: black;
}

body > div {
   
    background-color: rgb(26, 160, 170);
    height: 100vh;
    width: 100vh;
}

body > div > div {
   
    background-color: rgb(217, 224, 73);
    height: 90vh;
    width:90vh;

}

body > div > div > div {
    
    background-color: rgb(31, 185, 31);
    height: 80vh;
    width:80vh;

}
body > div > div > div > div {
   
    background-color: rgb(35, 84, 219);
    height: 70vh;
    width:70vh;

}
body > div > div > div > div > div {
    
    background-color: rgba(0, 230, 122, 0.911);
    height: 60vh;
    width:60vh;

}
body > div > div > div > div > div > div {
    
    background-color: rgb(27, 68, 16);
    height: 50vh;
    width:50vh;

}
body > div > div > div > div > div > div > div {
    
    background-color: rgb(26, 160, 170);
    height: 40vh;
    width:40vh;

}
body > div > div > div > div > div > div > div > div {
    
    background-color: rgb(149, 145, 172);
    height: 30vh;
    width:30vh;

}
body > div > div > div > div > div > div > div > div >  div {
    
    background-color: rgb(207, 134, 241);
    height: 20vh;
    width:20vh;

}
body > div > div > div > div > div > div > div > div > div > div {
  
    background-color: rgb(151, 39, 39);
    height: 10vh;
    width:10vh;

}

